.formControl {
  display: flex;
  flex-direction: column;
  gap: 0.6em;

  label {
    font-weight: bold;
  }

  input,
  select {
    padding: 0.7em;
    border-radius: 8px;
    border: none;
  }

  input::placeholder {
    color: #7b7b7b;
  }
}
