* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100%;
}

form {
  width: 100%;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .formControl {
    display: flex;
    flex-direction: column;
    gap: 0.6em;

    label {
      font-weight: bold;
    }

    input,
    select {
      padding: 0.7em;
      border-radius: 8px;
      border: none;
    }

    input::placeholder {
      color: #7b7b7b;
    }
  }
}
